.header {
    background-color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    height: 90px;
    width: 160px;
  }
  
  .title {
    color: #2d3748;
    font-size: 2.5rem;
    margin: 0;
    padding-right: 10px;
  }
  